// color vars
$white-1: #f9fafb;
$grey-1: #6b7280;
$black-1: #1f2937;

$primary: #60a5fa;
$primary-soft: #8cbaf2;


// width vars
$tablet-min: 768px;
$laptop-min: 992px;

// element vars
$bg-default: $white-1;
$text-default: $black-1;